﻿@model IEnumerable<StoreManagementSystem.Models.Category>
@{
    ViewData["Title"] = "All Categories";
}

<div class="=container p-3">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">All Categories</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Admin" asp-action="CreateCategory" class="btn btn-primary">Create New Category</a>
        </div>
    </div>
    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Admin" asp-action="EditCategory" asp-route-Id="@item.Id" class="btn btn-primary mx-2">Edit</a>
                            <a asp-controller="Admin" asp-action="DeleteCategory" asp-route-Id="@item.Id" class="btn btn-danger mx-2">Delete</a>
                        </div>
                    </td>
                </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Category Exists</p>
    }
</div>

