﻿
@model StoreManagementSystem.Models.Product
@{
    ViewData["Title"] = "EditProduct";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h2 class="pageheader-title">Edit Product</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb"></div>
                </div>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="Product" asp-action="AllProducts" class="btn btn-primary">Back</a>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Validation State</h5>
            <div class="card-body px-4 py-3">
                <form method="post" asp-action="EditProduct" asp-controller="Admin">
                    <div class="form-group">
                        <label asp-for="ProductName">Product Name</label>
                        <input class="form-control" asp-for="ProductName">
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                  
                    <div class="form-group">
                        <label asp-for="ProductUnitPrice">Unit Price</label>
                        <input class="form-control" asp-for="ProductUnitPrice">
                        <span asp-validation-for="ProductUnitPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity">Quantity</label>
                        <input class="form-control" asp-for="Quantity">
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductImagePath">Product Image</label>
                        <input class="form-control" asp-for="ProductImagePath">
                        <span asp-validation-for="ProductImagePath" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for=" ExpiryDate"> Expiry Date</label>
                        <input class="form-control" asp-for=" ExpiryDate">
                        <span asp-validation-for=" ExpiryDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateAdded"> Purchased Date</label>
                        <input class="form-control" asp-for="DateAdded">
                        <span asp-validation-for="DateAdded" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Product</button>
                </form>
            </div>
        </div>
        <br /><br />
    </div>
</section>




