﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="DisplayCart"><i class="fa fa-shopping-cart"></i>[0]</a>
</li>