﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="search-box col-md-10">
    <form asp-action="Index" asp-controller="User" method="post" name="searchString">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Category One</a>
                    <a class="dropdown-item" href="#">Category Two</a>
                    <a class="dropdown-item" href="#">Category Three</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated Category</a>
                </div>
            </div>
            <input type="text" class="form-control w-50" aria-label="Search" placeholder="Search Store..."/>
            <div class="input-group-append">
                <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</div>