﻿@model StoreManagementSystem.Models.UserLoginModel
@{
    ViewData["Title"] = "Login";
}

<section class="register p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <div class="register-image">
                            <figure>

                                <img src="~/img/signin-image.jpg" alt="Registration Page Image" class="d-block mx-auto img-responsive" />
                            </figure>
                        </div>
                        <p class="mt-3 text-center text-decoration-none">Don't have an account ?<a asp-action="Register" asp-controller="Account">Register</a></p>
                    </div>
                    <div class="col-lg-6">
                        <div class="registration-form">
                            <form asp-action="Login" asp-controller="Account" method="post">
                                <fieldset>
                                    <legend>Login</legend>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Email">Email Address</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-envelope"></i></span>
                                            </div>
                                            <input asp-for="Email" class="form-control">

                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-key"></i></span>
                                            </div>
                                            <input asp-for="Password" class="form-control">

                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form-check">
                                        <input asp-for="RememberMe" class="form-check-input">
                                        <label class="form-check-label" asp-for="RememberMe">@Html.DisplayNameFor(model => model.RememberMe)</label>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Login</button>
                                </fieldset>



                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

