﻿@model StoreManagementSystem.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<section class="register p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6 text-center">
                        <div class="register-image">
                            <figure>
                                <img src="~/img/signup-image.jpg" alt="Registration Page Image" class="d-block mx-auto img-responsive" />
                            </figure>
                        </div>
                        <p class="mt-3 text-center text-decoration-none mr-3">Already have an account?<a asp-controller="Account" asp-action="Login">Login</a></p>
                    </div>
                    <div class="col-lg-6">
                        <div class="registration-form">
                            <form asp-action="Register" asp-controller="Account" method="post">
                                <fieldset>
                                    <legend>Register</legend>
                                    <div asp-validation-summary="ModelOnly"></div>
                                    <div class="form-group">
                                        <label asp-for="UserName">UserName</label>
                                        <input asp-for="UserName" class="form-control">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email">Email</label>
                                        <input asp-for="Email" class="form-control">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password">Password</label>
                                        <input asp-for="Password" class="form-control">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" class="form-control">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Register</button>
                                </fieldset>
                                
                                
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


