﻿@model IEnumerable<StoreManagementSystem.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
<section class="home-screen">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-10">
                <partial name="_Search" />
            </div>
        </div>
        <div class="album py-5 bg-light">

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <h5 class="card-title">@item.ProductName</h5>
                                <p class="card-text">$@item.ProductUnitPrice</p>
                                <p class="card-text">@item.ProductDescription</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-success" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                        <a asp-controller="Product" asp-action="SingleProduct" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
    
</section>


