﻿@model StoreManagementSystem.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "DisplayCart";
}

<section class="display-cart">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">

                <!-- Card -->
                <div class="card wish-list mb-3">
                    <div class="card-body">
                        <h5 class="mb-4">Cart (<span>2</span> items)</h5>
                        @foreach (var item in Model.CartItems)
                        {

                            <div class="row mb-4">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                        <a href="#!">
                                            <div class="mask waves-effect waves-light">
                                                <img class="img-fluid w-100"
                                                     src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                                                <div class="mask rgba-black-slight waves-effect waves-light"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5>@item.ProductId</h5>
                                                <p class="mb-3 text-muted text-uppercase small">Shirt - blue</p>
                                                <p class="mb-2 text-muted text-uppercase small">Color: blue</p>
                                                <p class="mb-3 text-muted text-uppercase small">Size: M</p>
                                            </div>
                                            <div>
                                                <div class="def-number-input number-input safari_only mb-0 w-100">

                                                    <input class="quantity" min="0" name="quantity" value=@item.Quantity type="number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <a asp-controller="" asp-action="" asp-route-Id="@item.ProductId" class="card-link-secondary small text-uppercase mr-3">
                                                    <i class="fas fa-trash-alt mr-1"></i> Remove item
                                                </a>
                                                <a href="#!" type="button" class="card-link-secondary small text-uppercase">
                                                    <i class="fas fa-heart mr-1"></i> Move to wish list
                                                </a>
                                            </div>
                                            <p class="mb-0"><span><strong>$17.99</strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        <hr class="mb-4">
                        <p class="text-primary mb-0">
                            <i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
                            items to your cart does not mean booking them.
                        </p>

                    </div>
                </div>
                <!-- Card -->
            </div>
            <div class="col-lg-4">

                <!-- Card -->
                <div class="card mb-3">
                    <div class="card-body">

                        <h5 class="mb-3">The total amount of</h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Temporary amount
                                <span>
                                    @{
                                        @Model.CartTotal.ToString("C");
                                    }
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>Gratis</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>The total amount of</strong>
                                    <strong class="mb-0">
                                        (including VAT)
                                    </strong>
                                </div>
                                <span>
                                    <strong>
                                        @{
                                            @Model.CartTotal.ToString("C");
                                        }
                                    </strong>
                                </span>
                            </li>
                        </ul>

                        <a class="btn btn-primary btn-block waves-effect waves-light" asp-controller="Checkout" asp-action="Index">Go to Checkout</a>

                    </div>
                </div>
                <!-- Card -->

            </div>
        </div>
    </div>
</section>


