﻿@model StoreManagementSystem.Models.Product
@{
    ViewData["Title"] = "AddProduct";
}

<h1>AddProduct</h1>
<section class="add-product-section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="section-block" tabindex="-1" id="validation">
                    <h3 class="section-title">Validation State</h3>
                    <p>Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
                </div>
                <div class="card">
                    <h5 class="card-header">Validation State</h5>
                    <div class="card-body px-4 py-3">
                        <form method="post" asp-action="AddProduct" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="ProductName">Product Name</label>
                                <input class="form-control" asp-for="ProductName">
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductDescription">Description</label>
                                <input class="form-control" asp-for="ProductDescription">
                                <span asp-validation-for="ProductDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductUnitPrice">Unit Price</label>
                                <input class="form-control" asp-for="ProductUnitPrice">
                                <span asp-validation-for="ProductUnitPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Quantity">Quantity</label>
                                <input class="form-control" asp-for="Quantity">
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductImagePath">Product Image</label>
                                <input class="form-control" asp-for="ProductImagePath">
                                <span asp-validation-for="ProductImagePath" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for=" ExpiryDate"> Expiry Date</label>
                                <input class="form-control" asp-for=" ExpiryDate">
                                <span asp-validation-for=" ExpiryDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateAdded"> Purchased Date</label>
                                <input class="form-control" asp-for="DateAdded">
                                <span asp-validation-for="DateAdded" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

