﻿
@model StoreManagementSystem.Models.Product
@{
    ViewData["Title"] = "EditProduct";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">StoreManagement</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="text-right">
                    <a asp-controller="Product" asp-action="AddProduct" class="btn btn-dark">Back</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7">
                <div class="card">
                    <h5 class="card-header">Validation State</h5>
                    <div class="card-body px-4 py-3">
                        <form method="post" asp-action="EditProduct" asp-controller="Product">
                            <input asp-for="Id" hidden />
                            <div class="form-group">
                                <label asp-for="ProductName">Product Name</label>
                                <input class="form-control" asp-for="ProductName">
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductDescription">Description</label>
                                <input class="form-control" asp-for="ProductDescription">
                                <span asp-validation-for="ProductDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductUnitPrice">Unit Price</label>
                                <input class="form-control" asp-for="ProductUnitPrice">
                                <span asp-validation-for="ProductUnitPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Quantity">Quantity</label>
                                <input class="form-control" asp-for="Quantity">
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductImagePath">Product Image</label>
                                <input class="form-control" asp-for="ProductImagePath">
                                <span asp-validation-for="ProductImagePath" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for=" ExpiryDate"> Expiry Date</label>
                                <input class="form-control" asp-for=" ExpiryDate">
                                <span asp-validation-for=" ExpiryDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateAdded"> Purchased Date</label>
                                <input class="form-control" asp-for="DateAdded">
                                <span asp-validation-for="DateAdded" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />
    </div>
</section>




