﻿@model StoreManagementSystem.Models.Product
@{
    ViewData["Title"] = "SingleProduct";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">StoreManagement</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="text-right">
                    <a asp-controller="User" asp-action="Index" class="btn btn-dark">Back</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center p-4">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pr-xl-0 pr-lg-0 pr-md-0  m-b-30">
                <div class="product-details">
                    <a href="">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </a>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pr-xl-0 pr-lg-0 pr-md-0 m-b-30 pl-md-5">
                <div class="">
                    <h3>@Model.ProductName</h3>
                    <p>$@Model.ProductUnitPrice</p>
                    <p>@Model.ProductDescription</p>
                    <div class="def-number-input number-input safari_only mb-0 w-100">
                        <input class="form-control" min="0" name="quantity" value="1" type="number">
                    </div>
                    <a class="btn btn-dark btn-block btn-lg mt-3" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-Id="@Model.Id"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
</section>


